body{
    height: 100vh;
    background-color:  lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theonlyone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 400px;
    height: 320px;
    padding: 0;
    column-gap: 20px;


}
.thephoto{
    width: 100%;
    height: 100%;
}
.photo{
    height: 100%;
    width: 100%;
}
.thetext{
    font-family: Arial;
    margin-top: 10px;
    letter-spacing: 3px;
    color: grey;
    font-size: 7px;
}
.themoneydiv{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.Add{
    display: flex;
    align-items: center;
    background-color: rgb(38, 75, 38);
    color: white;
    height: 30px;
    width: 80%;
    justify-content: center;
    border-radius: 10px;

}
.gabrielle{
    font-size: 30px;
    font-weight: 700;
    line-height: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;

}
.theparagraph{
    
    color: grey;
    font-size: 13px;
    margin-right: 20px;
}
.money{
    font-size: 30px;
    color: rgb(38, 75, 38);
    font-family:fantasy;
}
.thenextmoney{
    text-decoration: line-through;
    color: grey;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}